includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    tmpDir: .phpstan-cache
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: true
