<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnRisky="true"
         failOnWarning="false">
    <testsuites>
        <testsuite name="MultiTenantWordPress">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <!-- AWS SDK wrapper - tested indirectly through AwsSecretsProvider -->
            <file>src/Secrets/AwsSecretsManagerClient.php</file>
            <!-- WordPress-dependent classes - require actual WordPress installation -->
            <file>src/Provisioning/AdminAccountSeeder.php</file>
            <file>src/Provisioning/DefaultDataSeeder.php</file>
            <file>src/Provisioning/WordPressInstaller.php</file>
            <file>src/Provisioning/AdditionalSeeder.php</file>
        </exclude>
    </source>
    <coverage>
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
</phpunit>
